
:root{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 88px 80px;
    background-color: #F5F4F0;;
}

/*
#headline {
    text-transform: uppercase;
    color: #E1624F;
    font-weight: bold;
    font-size: 16px;
}
div > p { 
    color: #333333;
    font-size: 16px;
    font-style: italic;
}
h1{
    font-size: 36px;
    color: #1B1B1B;

}

h2{ 
    color: #1B1B1B;
    font-size: 32px;
    font-weight: bold;
}

h2 + p, h3 + p {
    color: #333333;
    font-size: 16px;
    font-style: normal;
}
h3{
    font-size: 28px;
    font-weight: bold;
    color: #1B1B1B;
}

ul { 
    list-style-type: none;
}*/
